@using GaragePortalNewUI.Models;
@inject LanguageService Resource

<div class="modal fade" id="successEmailSendModal" tabindex="-1" role="dialog" aria-labelledby="successEmailSendModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <center><p>@Resource.GetKey("Your_email_has_been_sent_successfully.")</p></center>
                <center><button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SetViewBag()">OK</button></center>
            </div>
        </div>
    </div>
</div>

@*<script>
    $(document).ready(function () {
        $('.draggable').draggable({
            handle: '.modal-header'
        });
    });
</script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}