/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/*.navbar.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 100%) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*=================================================*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #04AA6D;
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#totalInvoiceDiv {
    height: 700px;
    overflow: auto;
}

#modalContentCustomCSS {
    width: 160%;
    align-self: center;
}

/* test Currency */
.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 74%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}

.input-icon-right > i {
    right: 0;
}

.input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

/* Test for draggable modal */
.border_dot {
    border: 1px dashed #ccc;
}

#dragable_modal {
    position: relative;
}

#dragable_modal .modal-dialog {
    position: fixed;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    background: var(--white);
    /* width:500px; */
    margin: 0;
    /* padding: 20px; */
    /* overflow: hidden; */
    /* resize: both; */
}

#dragable_modal .modal-content {
    /* padding: 20px; */
    height: 400px;
    overflow: hidden;
    resize: both;
    width: 500px;
}


#dragable_modal .modal-body {
    height: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

#dragable_modal .modal-header {
    background: var(--dark);
    color: var(--white);
    border-bottom: 0px;
    padding: 0px;
}

#dragable_modal .modal-header h3 {
    color: var(--white);
    font-size: 18px;
}

#dragable_modal .close_btn {
    top: -2px;
    margin: 0px !important;
    opacity: 1;
    width: 30px;
    height: 30px;
    padding: 0px;
    color: #fff;
}

.custom_tab_on_editor {
    background: var(--orange);
    padding: 0px;
    margin: 0px;
}

.custom_tab_on_editor .nav-item {
    margin-bottom: 0px;
}

.custom_tab_on_editor .nav-item .nav-link {
    min-width: 100px;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 10px;
    color: var(--white)
}

.custom_tab_on_editor .nav-item .nav-link:hover {
    color: #ffffff;
    border-width: 0px;
    background: #ffb586;
    border-bottom: 0px solid transparent;
}


.custom_tab_on_editor .nav-item.show .nav-link, .custom_tab_on_editor .nav-link.active {
    color: #ffffff;
    border-width: 0px;
    background: #ffb586;
    border-bottom: 0px solid transparent;
    position: relative;
}

.dragable_touch {
    cursor: move;
    height: 60px;
}

.custom_tab_on_editor .nav-item.show .nav-link:before, .custom_tab_on_editor .nav-link.active:before {
    content: '';
    border-bottom: 10px solid var(--white);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

#asterisk label:after {
    content: " *";
    color: red;
}

.quickServiceHistory{
    height: 95px;
}

.quickServiceHistoryCustomer {
    height: 90px;
}

.quickServiceHistoryServiceItems{
    height: 140px;
}

.quickServiceHistoryCommentBox {
    height: 120px;
}

.quickServiceHistoryPrice {
    height: 70px;
}

textarea.form-control {
    height: 80px;
}

.ServiceHistory {
    height: 92px;
}

.ServiceHistoryServiceItems {
    height: 140px;
}

.ServiceHistoryCommentBox {
    height: 80px;
}

.ServiceHistoryPrice {
    height: 80px;
}

.modal-footer {
    border-top: 0px dotted;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ba212b !important;
    /*border: 1px solid #7a1315 !important;*/
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: #ba212b !important;
    color: #fff !important;
    border: none !important;
    /* border-right: 1px solid #aaa; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0;
}

.select2-selection--multiple {
    overflow: hidden !important;
    height: auto !important;
    max-height: 110px !important;
    overflow: scroll !important;
}

#quickServiceHistorySearch{
    /*background-color: yellow;*/
    width: 353.5px
}