################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GarageAPI/.vs/GarageAPI/FileContentIndex
