@model GaragePortalNewUI.Models.Users
@inject LanguageService Resource

@{
    ViewData["Title"] = @Resource.GetKey("Login");
}


<div class="row m-2">
    <div class="col-4">
        <form asp-action="LoginHelper">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">@Resource.GetKey("Password")</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resource.GetKey("Login")" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
        <img src="~/images/image.png" class="img-fluid" />
    </div>
</div>